.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game{
  display:flex;
  margin-top: 10px;
  margin-left: 10px;
}

.square {
  width: 70px;
  height: 70px;
  display: flex; 
  border: 3px solid black;
  justify-content: center; /*x軸*/
  align-items: center; /*y軸*/
}

.game-board{
  display: grid;
  grid-template-columns: repeat(3,70px);
  grid-template-rows: repeat(3,70px);
}

.hovered-image{
  width: 50px;
  height: 50px;
  justify-content: center;  
  align-items: center;
}

.squareImage {
  width: 60px;
  height: 60px;
}

.result{
  border: 3px solid black;
  width: 300px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: center;  
  align-items: center;
}

.pika-bg {
  background-color: yellow;
}

.char-bg {
  background-color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
